src/plugins/security/schema/security.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.basealt.ru/GroupPolicy/SecurityDefinitions" xmlns="http://www.basealt.ru/GroupPolicy/SecurityDefinitions">
  <xsd:complexType name="BooleanElement">
    <xsd:annotation>
      <xsd:documentation>Describes a choice element in a policy with associated values for the true and false cases.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SecurityElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DecimalElement">
    <xsd:complexContent>
      <xsd:extension base="SecurityElement">
        <xsd:attribute default="false" name="required" type="xsd:boolean"/>
        <xsd:attribute default="false" name="soft" type="xsd:boolean"/>
        <xsd:attribute default="false" name="storeAsText" type="xsd:boolean"/>
        <xsd:attribute name="minValue" type="xsd:int"/>
        <xsd:attribute name="maxValue" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnumerationElement">
    <xsd:complexContent>
      <xsd:extension base="SecurityElement">
        <xsd:attribute default="false" name="required" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LongDecimalElement">
    <xsd:complexContent>
      <xsd:extension base="SecurityElement">
        <xsd:attribute default="false" name="required" type="xsd:boolean"/>
        <xsd:attribute default="false" name="soft" type="xsd:boolean"/>
        <xsd:attribute default="false" name="storeAsText" type="xsd:boolean"/>
        <xsd:attribute name="minValue" type="xsd:long"/>
        <xsd:attribute name="maxValue" type="xsd:long"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ListElement">
    <xsd:annotation>
      <xsd:documentation>Describes a list element  in a security policy.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SecurityElement">
        <xsd:attribute name="valuePrefix" type="xsd:string"/>
        <xsd:attribute name="additive" type="xsd:boolean"/>
        <xsd:attribute name="expandable" type="xsd:boolean"/>
        <xsd:attribute name="explicitValue" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MultiTextElement">
    <xsd:annotation>
      <xsd:documentation>Describes a multi line text element in a policy.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SecurityElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextElement">
    <xsd:annotation>
      <xsd:documentation>Describes a single line text element in a policy.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SecurityElement">
        <xsd:attribute default="false" name="required" type="xsd:boolean"/>
        <xsd:attribute default="1024" name="maxLength" type="xsd:int"/>
        <xsd:attribute default="false" name="soft" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SecurityDefinition">
    <xsd:sequence>
      <xsd:element type="CategoryReference" minOccurs="0" maxOccurs="1" name="parentCategory"/>
      <xsd:element type="SecurityElements" minOccurs="0" maxOccurs="1" name="elements"/>
      <xsd:element type="SecurityValue" minOccurs="0" maxOccurs="1" name="enabledValue"/>
      <xsd:element type="SecurityValue" minOccurs="0" maxOccurs="1" name="disabledValue"/>
      <xsd:element type="SecurityValueList" minOccurs="0" maxOccurs="1" name="enabledList"/>
      <xsd:element type="SecurityValueList" minOccurs="0" maxOccurs="1" name="disabledList"/>
    </xsd:sequence>
    <xsd:attribute  name="name" type="ItemReference" use="required"/>
    <xsd:attribute  name="displayName" type="StringReference" use="required"/>
    <xsd:attribute name="explainText" type="StringReference"/>
    <xsd:attribute  name="sectionName" type="SectionName" use="required"/>
    <xsd:attribute name="propertyName" type="PropertyName"/>
    <xsd:attribute name="presentation" type="StringReference"/>
    <xsd:attribute name="class" type="SecurityType" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="SecurityType">
    <xsd:annotation>
      <xsd:documentation>An enumeration of the 3 possible types a security definition can belong to.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Machine"/>
      <xsd:enumeration value="User"/>
      <xsd:enumeration value="Both"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Category">
    <xsd:annotation>
      <xsd:documentation>A grouping of security definitions.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="keywords" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="seeAlso" nillable="true" type="xsd:string"/>
      <xsd:element type="CategoryReference" name="parentCategory"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="ItemReference" use="required"/>
    <xsd:attribute name="displayName" type="StringReference" use="required"/>
    <xsd:attribute name="explainText" type="StringReference"/>
  </xsd:complexType>
  <xsd:complexType name="CategoryReference">
    <xsd:attribute name="ref" type="ItemReference" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="ItemReference">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="StringReference">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="SecurityList">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="securityDefinition" type="SecurityDefinition"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityDefinitions">
    <xsd:sequence>
      <xsd:element  maxOccurs="1" minOccurs="0" name="security" type="SecurityList"/>
    </xsd:sequence>
    <xsd:attribute  name="revision" type="xsd:string"/>
    <xsd:attribute  name="schemaVersion" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="SecurityElements">
    <xsd:sequence>
      <xsd:element minOccurs="0" type="BooleanElement" maxOccurs="unbounded" name="boolean"/>
      <xsd:element minOccurs="0" type="DecimalElement" maxOccurs="unbounded" name="decimal"/>
      <xsd:element minOccurs="0" type="TextElement" maxOccurs="unbounded" name="text"/>
      <xsd:element minOccurs="0" type="EnumerationElement" maxOccurs="unbounded" name="enum"/>
      <xsd:element minOccurs="0" type="ListElement" maxOccurs="unbounded" name="list"/>
      <xsd:element minOccurs="0" type="LongDecimalElement" maxOccurs="unbounded" name="longDecimal"/>
      <xsd:element minOccurs="0" type="MultiTextElement" maxOccurs="unbounded" name="multiText"/>
      <xsd:choice maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SectionName">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="PropertyName">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="SecurityElement">
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="clientExtension" type="xsd:string"/>
    <xsd:attribute name="propertyName" type="PropertyName" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SecurityValue">
    <xsd:sequence>
      <xsd:element type="DecimalType" minOccurs="0" name="decimal"/>
      <xsd:element type="LongDecimalType" minOccurs="0" name="longDecimal"/>
      <xsd:element  minOccurs="0" name="string" type="SecurityType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityItem">
    <xsd:sequence>
      <xsd:element type="SecurityValue" name="value"/>
    </xsd:sequence>
    <xsd:attribute  name="sectionName" type="SectionName"/>
    <xsd:attribute name="peropertyName" type="PropertyName" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SecurityValueList">
    <xsd:sequence>
      <xsd:element type="SecurityValue" maxOccurs="unbounded" minOccurs="0" name="item"/>
    </xsd:sequence>
    <xsd:attribute name="defaultSectionName" type="SectionName"/>
  </xsd:complexType>
  <xsd:complexType name="DecimalType">
    <xsd:attribute name="value" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType name="LongDecimalType">
    <xsd:attribute name="value" type="xsd:long"/>
  </xsd:complexType>
  <xsd:simpleType name="StringType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SecurityPresentation">
    <xsd:annotation>
      <xsd:documentation>Root presentation element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PresentationElements">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="text" nillable="true" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="ResourceID" use="required"/>
        <xsd:attribute name="icon" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CheckBox">
    <xsd:annotation>
      <xsd:documentation>Represents a checkbox display element.\nCan be associated with a BooleanElement.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElementContent">
        <xsd:attribute name="defaultChecked" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DataElementContent">
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="refId" type="xsd:string" use="required"/>
    <xsd:attribute name="postfix" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="DecimalTextBox">
    <xsd:annotation>
      <xsd:documentation>Represents a text box with or without a spin control for entering decimal numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElementContent">
        <xsd:attribute name="defaultValue" type="xsd:int"/>
        <xsd:attribute name="spin" type="xsd:boolean"/>
        <xsd:attribute name="spinStep" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GroupBox">
    <xsd:complexContent>
      <xsd:extension base="DataElementContent">
        <xsd:sequence>
          <xsd:element type="PresentationElements" minOccurs="0" name="elements"/>
        </xsd:sequence>
        <xsd:attribute name="hasCheckBox" type="xsd:boolean"/>
        <xsd:attribute name="defaultChecked" type="xsd:boolean"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="hasBorder" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PresentationElements">
    <xsd:sequence>
      <xsd:element minOccurs="0" type="DecimalTextBox" maxOccurs="unbounded" name="decimalTextBox"/>
      <xsd:element minOccurs="0" type="TextBox" maxOccurs="unbounded" name="textBox"/>
      <xsd:element minOccurs="0" type="CheckBox" maxOccurs="unbounded" name="checkBox"/>
      <xsd:element minOccurs="0" type="ComboBox" maxOccurs="unbounded" name="comboBox"/>
      <xsd:element minOccurs="0" type="DropdownList" maxOccurs="unbounded" name="dropdownList"/>
      <xsd:element minOccurs="0" type="LongDecimalTextBox" maxOccurs="unbounded" name="longDecimalTextBox"/>
      <xsd:element minOccurs="0" type="MultiTextBox" maxOccurs="unbounded" name="multiTextBox"/>
      <xsd:element minOccurs="0" type="GroupBox" maxOccurs="unbounded" name="groupBox"/>
      <xsd:choice maxOccurs="unbounded">
        <xsd:element minOccurs="0" type="ListBox" maxOccurs="unbounded" name="listBox"/>
        <xsd:element minOccurs="0" type="Comment" maxOccurs="unbounded" name="comment"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ResourceID">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="ComboBox">
    <xsd:annotation>
      <xsd:documentation>Represents a combobox display element with default/suggested entries.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElementContent">
        <xsd:sequence>
          <xsd:element  name="label" type="xsd:string"/>
          <xsd:element  maxOccurs="unbounded" minOccurs="0" name="suggestion" nillable="true" type="xsd:string"/>
          <xsd:element  minOccurs="0" name="noSort" type="xsd:boolean"/>
        </xsd:sequence>
        <xsd:attribute name="defaultChecked" type="xsd:boolean"/>
        <xsd:attribute name="default" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextBox">
    <xsd:annotation>
      <xsd:documentation>Represents a textbox display element with default entry.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElementContent">
        <xsd:sequence>
          <xsd:element  name="label" type="xsd:string"/>
          <xsd:element  minOccurs="0" name="defaultValue" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DropdownList">
    <xsd:annotation>
      <xsd:documentation>Represents a dropdown list display element.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="defaultItem" type="xsd:unsignedInt"/>
    <xsd:attribute name="noSort" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:complexType name="MultiTextBox">
    <xsd:annotation>
      <xsd:documentation>Represents a textbox display element with default entry.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElement">
        <xsd:sequence>
          <xsd:element  name="label" type="xsd:string"/>
          <xsd:element  minOccurs="0" name="defaultValue" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ListBox">
    <xsd:annotation>
      <xsd:documentation>Represents a listbox display element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElementContent"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Comment">
    <xsd:annotation>
      <xsd:documentation>Represents a comment display element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElement">
        <xsd:attribute  name="text" type="StringReference" use="required"/>
        <xsd:attribute  name="image" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SecurityDescriptorEditor">
    <xsd:annotation>
      <xsd:documentation>Represents a security descriptor editor display element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElement">
        <xsd:attribute  name="label" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LdapSearchDialog">
    <xsd:annotation>
      <xsd:documentation>Represents a LDAP search dialog display element.\nCan be associated with a TextElement.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElementContent">
        <xsd:attribute name="dn" type="xsd:string"/>
        <xsd:attribute name="filter" type="xsd:string"/>
        <xsd:attribute name="addLabel" type="StringReference"/>
        <xsd:attribute name="removeLabel" type="StringReference"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RadioButton">
    <xsd:annotation>
      <xsd:documentation>Represents a radio button display element.\nCan be associated with a BooleanElement.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElement">
        <xsd:attribute name="defaultChecked" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="GUID">
    <xsd:annotation>
      <xsd:documentation>A standard {12345678-1234-1234-1234-123456789abcd} style guid string.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\{[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DataElement">
    <xsd:attribute  name="refId" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LongDecimalTextBox">
    <xsd:annotation>
      <xsd:documentation>Represents a text box with or without a spin control for entering long decimal numbers.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DataElementContent">
        <xsd:attribute name="defaultValue" type="xsd:long"/>
        <xsd:attribute name="spin" type="xsd:boolean"/>
        <xsd:attribute name="spinStep" type="xsd:long"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocalizedString">
    <xsd:annotation>
      <xsd:documentation>A localized string</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="id" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StringTable">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="string" type="LocalizedString"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PresentationTable">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="presentation" type="SecurityPresentation"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityLocalization">
    <xsd:annotation>
      <xsd:documentation>A table of referenced localized strings and policy presentations.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="stringTable" minOccurs="0" type="StringTable"/>
      <xsd:element name="presentationTable" minOccurs="0" type="PresentationTable"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityPresentationResources">
    <xsd:sequence>
      <xsd:element name="displayName" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="annotation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="resources" type="SecurityLocalization" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="revision" type="xsd:string" use="required"/>
    <xsd:attribute name="schemaVersion" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:element name="securityDefinitions" type="SecurityDefinitions"/>
  <xsd:element name="securityPresentationResources" type="SecurityPresentationResources"/>
</xsd:schema>
