src/plugins/preferences/schemas/datasourcesschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="targetingschema.xsd"/>

<xs:complexType name="Properties_t">
   <xs:sequence>
      <xs:element name="Attributes">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="Attribute">
                  <xs:complexType>
                     <xs:attribute name="name" type="xs:string" use="required" />
                     <xs:attribute name="value" type="xs:string" use="required" />
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="action" type="xs:string" use="optional" />
   <xs:attribute name="userDSN" type="xs:boolean" use="optional" />
   <xs:attribute name="dsn" type="xs:string" use="required" />
   <xs:attribute name="driver" type="xs:string" use="required" />
   <xs:attribute name="description" type="xs:string" use="optional"/>
   <xs:attribute name="username" type="xs:string" use="optional"/>
   <xs:attribute name="cpassword" type="xs:string" use="optional" />
   <xs:attribute name="disabled" type="xs:boolean" use="optional" />
</xs:complexType>

<xs:complexType name="DataSource_t">
   <xs:sequence>
      <xs:element name="Properties" type="Properties_t"/>
      <xs:element minOccurs="0" name="Filters" type="Filters_t" />
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="bypassErrors" type="xs:boolean" use="optional" />
   <xs:attribute name="userContext" type="xs:boolean" use="optional" />
   <xs:attribute name="removePolicy" type="xs:boolean" use="optional" />
   <xs:attribute name="desc" type="xs:string" use="optional" />
   <xs:attribute name="changed" type="xs:string" use="optional" />
   <xs:attribute name="uid" type="xs:string" use="required" />
   <xs:attribute name="status" type="xs:string" use="optional" />
</xs:complexType>
   <xs:element name="DataSources">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="DataSource" type="DataSource_t"/>
         </xs:sequence>
         <xs:attribute name="clsid" type="xs:string" use="required" />
         <xs:attribute name="disabled" type="xs:boolean" use="optional" />
      </xs:complexType>
   </xs:element>
</xs:schema>
