src/plugins/preferences/schemas/devicesschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="Properties_t">
   <xs:attribute name="deviceAction" type="xs:string" use="required" />
   <xs:attribute name="deviceClass" type="xs:string" use="optional" />
   <xs:attribute name="deviceType" type="xs:string" use="optional" />
   <xs:attribute name="deviceClassGUID" type="xs:string" use="required" />
   <xs:attribute name="deviceTypeID" type="xs:string" use="required" />
   <xs:attribute name="disabled" type="xs:boolean" use="optional"/>
</xs:complexType>
<xs:complexType name="Device_t">
   <xs:sequence>
      <xs:element name="Properties" type="Properties_t"/>
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="changed" type="xs:string" use="optional" />
   <xs:attribute name="uid" type="xs:string" use="required" />
   <xs:attribute name="desc" type="xs:string" use="optional" />
   <xs:attribute name="bypassErrors" type="xs:boolean" use="optional" />
   <xs:attribute name="userContext" type="xs:boolean" use="optional" />
   <xs:attribute name="removePolicy" type="xs:boolean" use="optional" />
   <xs:attribute name="status" type="xs:string" use="optional" />
</xs:complexType>
<xs:element name="Devices">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Device" type="Device_t"/>
         </xs:sequence>
         <xs:attribute name="clsid" type="xs:string" use="required" />
         <xs:attribute name="disabled" type="xs:boolean" use="optional" />
      </xs:complexType>
   </xs:element>
</xs:schema>
