src/plugins/preferences/schemas/drivesschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="DriveProperties_t">
    <xs:attribute name="action" type="xs:string" use="optional" />
    <xs:attribute name="thisDrive" type="xs:string" use="optional" />
    <xs:attribute name="allDrives" type="xs:string" use="optional" />
    <xs:attribute name="userName" type="xs:string"  use="optional" />
    <xs:attribute name="cpassword" type="xs:string" use="optional" />
    <xs:attribute name="path" type="xs:string" use="required" />
    <xs:attribute name="label" type="xs:string" use="optional" />
    <xs:attribute name="persistent" type="xs:unsignedByte" use="required" />
    <xs:attribute name="useLetter" type="xs:unsignedByte" use="required" />
    <xs:attribute name="letter" type="xs:string" use="required" />
   <xs:attribute name="disabled" type="xs:unsignedByte" use="optional" />
</xs:complexType>

<xs:complexType name="Drive_t">
   <xs:sequence>
      <xs:element name="Properties" type="DriveProperties_t" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="changed" type="xs:string" use="optional" />
   <xs:attribute name="uid" type="xs:string" use="required" />
   <xs:attribute name="desc" type="xs:string" use="optional" />
   <xs:attribute name="bypassErrors" type="xs:integer" use="optional" />
   <xs:attribute name="userContext" type="xs:integer" use="optional" />
   <xs:attribute name="removePolicy" type="xs:integer" use="optional" />
   <xs:attribute name="status" type="xs:string" use="optional" />
</xs:complexType>

<xs:element name="Drives">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="Drive" type="Drive_t" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="clsid" type="xs:string" use="required" />
      <xs:attribute name="disabled" type="xs:unsignedByte" use="optional" />
   </xs:complexType>
</xs:element>

</xs:schema>
