src/plugins/preferences/schemas/filesschema.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="FileProperties_t">
            <xs:attribute name="action" type="xs:string" use="optional" />
            <xs:attribute name="fromPath" type="xs:string" use="optional" />
            <xs:attribute name="targetPath" type="xs:string" use="required" />
            <xs:attribute name="readOnly" type="xs:boolean" use="optional" />
            <xs:attribute name="archive" type="xs:boolean" use="optional" />
            <xs:attribute name="hidden" type="xs:boolean" use="optional" />
            <xs:attribute name="suppress" type="xs:boolean" use="optional" />
            <xs:attribute name="disabled" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:complexType name="File_t">
       <xs:sequence>
          <xs:element name="Properties" type="FileProperties_t" maxOccurs="unbounded"/>
       </xs:sequence>
       <xs:attribute name="clsid" type="xs:string" use="required" />
       <xs:attribute name="name" type="xs:string" use="required" />
       <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
       <xs:attribute name="changed" type="xs:string" use="optional" />
       <xs:attribute name="uid" type="xs:string" use="required" />
       <xs:attribute name="desc" type="xs:string" use="optional" />
       <xs:attribute name="bypassErrors" type="xs:boolean" use="optional" />
       <xs:attribute name="userContext" type="xs:boolean" use="optional" />
       <xs:attribute name="removePolicy" type="xs:boolean" use="optional" />
       <xs:attribute name="status" type="xs:string" use="optional" />
    </xs:complexType>
    <xs:element name="Files">
       <xs:complexType>
          <xs:sequence>
             <xs:element name="File" type="File_t" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="clsid" type="xs:string" use="required" />
          <xs:attribute name="disabled" type="xs:boolean" use="optional" />
       </xs:complexType>
    </xs:element>
 </xs:schema>
