src/plugins/preferences/schemas/foldersschema.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="FolderProperties_t">
        <xs:attribute name="action" type="xs:string" use="optional" />
        <xs:attribute name="path" type="xs:string" use="required" />
        <xs:attribute name="readOnly" type="xs:boolean" use="required" />
        <xs:attribute name="archive" type="xs:boolean" use="required" />
        <xs:attribute name="hidden" type="xs:boolean" use="required" />
        <xs:attribute name="deleteSubFolders" type="xs:unsignedByte " use="optional" />
        <xs:attribute name="deleteFiles" type="xs:unsignedByte " use="optional" />
        <xs:attribute name="deleteFolder" type="xs:unsignedByte " use="optional" />
        <xs:attribute name="deleteReadOnly" type="xs:unsignedByte " use="optional" />
        <xs:attribute name="deleteIgnoreErrors" type="xs:unsignedByte " use="optional" />
        <xs:attribute name="disabled" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:complexType name="Folder_t">
        <xs:sequence>
          <xs:element name="Properties" type="FolderProperties_t" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="clsid" type="xs:string" use="required" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="status" type="xs:string" use="optional" />
        <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
        <xs:attribute name="changed" type="xs:string" use="optional" />
        <xs:attribute name="uid" type="xs:string" use="required" />
        <xs:attribute name="desc" type="xs:string" use="optional" />
        <xs:attribute name="bypassErrors" type="xs:boolean" use="optional" />
        <xs:attribute name="userContext" type="xs:boolean" use="optional" />
        <xs:attribute name="removePolicy" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:element name="Folders">
       <xs:complexType>
          <xs:sequence>
               <xs:element name="Folder" type="Folder_t" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="clsid" type="xs:string" use="required" />
          <xs:attribute name="disabled" type="xs:boolean" use="optional" />
       </xs:complexType>
    </xs:element>
 </xs:schema>
