src/plugins/preferences/schemas/inischema.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="IniProperties_t">
     <xs:attribute name="path" type="xs:string" use="required"/>
     <xs:attribute name="section" type="xs:string" use="optional"/>
     <xs:attribute name="value" type="xs:string" use="optional"/>
     <xs:attribute name="property" type="xs:string" use="optional"/>
     <xs:attribute name="action" type="xs:string" use="optional"/>
     <xs:attribute name="disabled" type="xs:unsignedByte" use="optional"/>
   </xs:complexType>
   <xs:complexType name="Ini_t">
     <xs:sequence>
       <xs:element name="Properties" type="IniProperties_t" maxOccurs="unbounded"/>
     </xs:sequence>
     <xs:attribute name="clsid" type="xs:string" use="required"/>
     <xs:attribute name="name" type="xs:string" use="required"/>
     <xs:attribute name="status" type="xs:string" use="optional"/>
     <xs:attribute name="image" type="xs:unsignedByte" use="optional"/>
     <xs:attribute name="changed" type="xs:string" use="optional"/>
     <xs:attribute name="uid" type="xs:string" use="required"/>
     <xs:attribute name="desc" type="xs:string" use="optional"/>
     <xs:attribute name="bypassErrors" type="xs:integer" use="optional"/>
     <xs:attribute name="userContext" type="xs:integer" use="optional"/>
     <xs:attribute name="removePolicy" type="xs:integer" use="optional"/>
   </xs:complexType>
   <xs:element name="IniFiles">
     <xs:complexType>
       <xs:sequence>
         <xs:element name="Ini" type="Ini_t" maxOccurs="unbounded"/>
       </xs:sequence>
       <xs:attribute name="clsid" type="xs:string" use="required"/>
       <xs:attribute name="disabled" type="xs:unsignedByte" use="optional"/>
     </xs:complexType>
   </xs:element>
 </xs:schema>
