src/plugins/preferences/schemas/networkoptionsschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="VPNProperties_t">
   <xs:attribute name="action"
     type="xs:string" use="optional" />
   <xs:attribute name="user"
     type="xs:boolean" use="required" />
   <xs:attribute name="name"
     type="xs:string" use="required" />
   <xs:attribute name="ipAddress"
     type="xs:string" use="optional" />
   <xs:attribute name="useDNS"
     type="xs:boolean" use="optional" />
   <xs:attribute name="dialFirst"
     type="xs:string" use="optional" />
   <xs:attribute name="trayIcon"
     type="xs:boolean" use="optional" />
   <xs:attribute name="showProgress"
     type="xs:boolean" use="optional" />
   <xs:attribute name="showPassword"
     type="xs:boolean" use="optional" />
   <xs:attribute name="showDomain"
     type="xs:boolean" use="optional" />
   <xs:attribute name="redialCount"
     type="xs:unsignedByte" use="optional" />
   <xs:attribute name="redialPause"
     type="xs:string" use="optional" />
   <xs:attribute name="idleDisconnect"
     type="xs:boolean" use="optional" />
   <xs:attribute name="reconnect"
     type="xs:boolean" use="optional" />
   <xs:attribute name="customSettings"
     type="xs:boolean" use="optional" />
   <xs:attribute name="securePassword"
     type="xs:boolean" use="optional" />
   <xs:attribute name="secureData"
     type="xs:boolean" use="optional" />
   <xs:attribute name="useLogon"
     type="xs:boolean" use="optional" />
   <xs:attribute name="vpnStrategy"
     type="xs:string" use="optional" />
   <xs:attribute name="encryptionType"
     type="xs:string" use="optional" />
   <xs:attribute name="eap"
     type="xs:boolean" use="optional" />
   <xs:attribute name="pap"
     type="xs:boolean" use="optional" />
   <xs:attribute name="spap"
     type="xs:boolean" use="optional" />
   <xs:attribute name="chap"
     type="xs:boolean" use="optional" />
   <xs:attribute name="msChap"
     type="xs:boolean" use="optional" />
   <xs:attribute name="oldMsChap"
     type="xs:boolean" use="optional" />
   <xs:attribute name="msChapV2"
     type="xs:boolean" use="optional" />
   <xs:attribute name="disabled"
     type="xs:boolean" use="optional" />
</xs:complexType>

<xs:complexType name="VPN_t">
   <xs:sequence>
      <xs:element name="Properties" type="VPNProperties_t" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="changed" type="xs:string" use="optional" />
   <xs:attribute name="uid" type="xs:string" use="required" />
   <xs:attribute name="desc" type="xs:string" use="optional" />
   <xs:attribute name="bypassErrors" type="xs:boolean" use="optional" />
   <xs:attribute name="userContext" type="xs:boolean" use="optional" />
   <xs:attribute name="removePolicy" type="xs:boolean" use="optional" />
   <xs:attribute name="status" type="xs:string" use="optional" />
</xs:complexType>

<xs:complexType name="DUNProperties_t">
   <xs:attribute name="action" type="xs:string" use="optional" />
   <xs:attribute name="user" type="xs:boolean" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="phoneNumber"
     type="xs:string" use="required" />
  <xs:attribute name="disabled"
     type="xs:boolean" use="optional" />
</xs:complexType>

<xs:complexType name="DUN_t">
   <xs:sequence>
      <xs:element name="Properties" type="DUNProperties_t" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="changed" type="xs:string" use="optional" />
   <xs:attribute name="uid" type="xs:string" use="required" />
   <xs:attribute name="desc" type="xs:string" use="optional" />
   <xs:attribute name="bypassErrors" type="xs:boolean" use="optional" />
   <xs:attribute name="userContext" type="xs:boolean" use="optional" />
   <xs:attribute name="removePolicy" type="xs:boolean" use="optional" />
   <xs:attribute name="status" type="xs:string" use="optional" />
</xs:complexType>

<xs:element name="NetworkOptions">
  <xs:complexType>
     <xs:sequence>
        <xs:element name="VPN" type="VPN_t" maxOccurs="unbounded"/>
        <xs:element name="DUN" type="DUN_t" maxOccurs="unbounded"/>
     </xs:sequence>
     <xs:attribute name="clsid" type="xs:string" use="required" />
     <xs:attribute name="disabled" type="xs:boolean" use="optional" />
  </xs:complexType>
</xs:element>

</xs:schema>
