src/plugins/preferences/schemas/registryschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="SubProp_t">
  <xs:attribute name="id" type="xs:string" use="required" />
  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
  <xs:attribute name="mask" type="xs:unsignedByte" use="required" />
</xs:complexType>

<xs:complexType name="RegistryProperties_t">
   <xs:sequence>
      <xs:element name="SubProp" type="SubProp_t" />
   </xs:sequence>
   <xs:attribute name="action" type="xs:string" use="optional" />
   <xs:attribute name="default" type="xs:integer" use="optional" />
   <xs:attribute name="hive" type="xs:string" use="required" />
   <xs:attribute name="key" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="optional" />
   <xs:attribute name="type" type="xs:string" use="optional" />
   <xs:attribute name="value" type="xs:string" use="optional" />
   <xs:attribute name="displayDecimal" type="xs:integer" use="optional" />
   <xs:attribute name="defaultValue" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="bitfield" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="disabled" type="xs:integer" use="optional" />
</xs:complexType>

<xs:complexType name="Registry_t">
   <xs:sequence>
      <xs:element name="Properties" type="RegistryProperties_t" minOccurs="0" maxOccurs="unbounded" />
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="changed" type="xs:string" use="optional" />
   <xs:attribute name="uid" type="xs:string" use="required" />
   <xs:attribute name="desc" type="xs:string" use="optional" />
   <xs:attribute name="bypassErrors" type="xs:integer" use="optional" />
   <xs:attribute name="userContext" type="xs:integer" use="optional" />
   <xs:attribute name="removePolicy" type="xs:integer" use="optional" />
   <xs:attribute name="status" type="xs:string" use="optional" />
</xs:complexType>

<xs:complexType name="Collection2_t">
   <xs:sequence>
     <xs:element name="Registry" type="Registry_t" />
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="disabled" type="xs:integer" use="optional" />
</xs:complexType>

<xs:complexType name="Collection3_t">
   <xs:sequence>
      <xs:element name="Collection" type="Collection2_t" />
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
</xs:complexType>

<xs:complexType name="Collection4_t">
   <xs:sequence>
      <xs:element name="Collection" type="Collection3_t" />
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
</xs:complexType>

<xs:complexType name="Collection_t">
   <xs:sequence minOccurs="0">
      <xs:element name="Collection" type="Collection4_t" />
   </xs:sequence>
   <xs:attribute name="clsid" type="xs:string" use="required" />
   <xs:attribute name="name" type="xs:string" use="required" />
   <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
   <xs:attribute name="changed" type="xs:string" use="optional" />
   <xs:attribute name="uid" type="xs:string" use="required" />
   <xs:attribute name="desc" type="xs:string" use="optional" />
   <xs:attribute name="bypassErrors" type="xs:integer" use="optional" />
   <xs:attribute name="userContext" type="xs:integer" use="optional" />
   <xs:attribute name="removePolicy" type="xs:integer" use="optional" />
   <xs:attribute name="status" type="xs:string" use="optional" />
</xs:complexType>

<xs:element name="RegistrySettings">
  <xs:complexType>
     <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Registry" type="Registry_t" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Collection" type="Collection_t" />
     </xs:sequence>
     <xs:attribute name="clsid" type="xs:string" use="required" />
     <xs:attribute name="disabled" type="xs:integer" use="optional" />
  </xs:complexType>
</xs:element>

</xs:schema>
