src/plugins/preferences/schemas/sharesschema.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ShareProperties_t">
       <xs:attribute name="action" type="xs:string" use="optional"/>
       <xs:attribute name="name" type="xs:string" use="required"/>
       <xs:attribute name="path" type="xs:string" use="optional"/>
       <xs:attribute name="comment" type="xs:string" use="optional"/>
       <xs:attribute name="allRegular" type="xs:integer" use="optional"/>
       <xs:attribute name="allHidden" type="xs:integer" use="optional"/>
       <xs:attribute name="allAdminDrive" type="xs:integer" use="optional"/>
       <xs:attribute name="limitUsers" type="xs:string" use="optional"/>
       <xs:attribute name="abe" type="xs:string" use="optional"/>
       <xs:attribute name="userLimit" type="xs:unsignedByte" use="optional"/>
       <xs:attribute name="disabled" type="xs:integer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="NetShare_t">
       <xs:sequence>
          <xs:element name="Properties" type="ShareProperties_t" maxOccurs="unbounded"/>
       </xs:sequence>
       <xs:attribute name="clsid" type="xs:string" use="required"/>
       <xs:attribute name="image" type="xs:unsignedByte" use="optional"/>
       <xs:attribute name="name" type="xs:string" use="required"/>
       <xs:attribute name="changed" type="xs:string" use="optional"/>
       <xs:attribute name="uid" type="xs:string" use="required"/>
       <xs:attribute name="desc" type="xs:string" use="optional"/>
       <xs:attribute name="bypassErrors" type="xs:integer" use="optional"/>
       <xs:attribute name="userContext" type="xs:integer" use="optional"/>
       <xs:attribute name="removePolicy" type="xs:integer" use="optional"/>
       <xs:attribute name="status" type="xs:string" use="optional" />
    </xs:complexType>
    <xs:element name="NetworkShareSettings">
       <xs:complexType>
          <xs:sequence>
             <xs:element name="NetShare" type="NetShare_t" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="clsid" type="xs:string" use="required"/>
          <xs:attribute name="disabled" type="xs:integer" use="optional"/>
       </xs:complexType>
    </xs:element>
 </xs:schema>
